/* .project-img{
    width:270px;
    height:250px;
    margin-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.project-grid{
   margin-bottom: 50px;
   grid-template-columns: repeat(4,1fr);
   gap:25px
}
.project-img:hover{
    width:300px;
    height:280px;
} */
/* .project-single{
    width:80%;
    height:300px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

   
} */

/* .project-title{
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(240, 158, 6);
}
.project-des{
font-size: 16px;
width:auto;
margin-bottom: 20px;

color: gray; */

/* }
.tech{
    margin-top: 20px;
    color: gray;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}
.pro-title{
    color: rgb(240, 158, 6);
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

.project-div{
    width:60%;
   display: grid;
   justify-content: center;
   align-items: center;
} */
/* .gitbtn{
    margin-top: 20px;
   
    margin-right: 30px;
    border-radius: 10px;
    color: white;
    background-color: rgb(240, 158, 6);
    font-size: 16px;
    padding: 11px 26px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: "OpenSans";
    font-weight: bold;
}
.gitbtn:hover{
    color:  rgb(240, 158, 6);
    background-color:white;
} */
.tech{
    margin-top: 20px;
    color: gray;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}
.project-img{
    width:270px;
    height:250px;
    margin-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#portfolio{
    padding: 3.5rem 3.5rem;
}
.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:25px;
}

.portfolio__item{
 
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.portfolio__item:hover{
    
    background: transparent;
}

.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3{
    margin: 1rem 0 0.5rem;
}
.portfolio__item h4{
    margin: 1rem 0 0.5rem;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    height:60px;
    width:auto;
    /* border: 1px solid; */
    margin-bottom: 10px;
}
.gitbtn{
    margin-top: 20px;
   
    margin-right: 20px;
    border-radius: 10px;
    color: white;
    background-color: rgb(240, 158, 6);
    font-size: 16px;
    padding: 11px 26px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: "OpenSans";
    font-weight: bold;
   
}
.gitbtn:hover{
    color:  rgb(240, 158, 6);
    background-color:white;
} 
.project-title{
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(240, 158, 6);
}
.project-des{
font-size: 16px;
width:auto;
height:150px;
/* border: 1px solid; */
margin-bottom: 20px;

color: gray; 
}
.pro-title{
    color: rgb(240, 158, 6);
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
}




@media screen and (max-width:1024px) {
 .protfolio__container{
    grid-template-columns: repeat(2,1fr);
    gap: 1.2rem;
 }
}


@media screen and (max-width:600px) {
    .portfolio__container{
        grid-template-columns:repeat(2,fr);
        gap: 1rem;
     }
}