.wrapper {
    height: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    background-color: #f9f1ac;
    z-index: 2;
    top: 0;
    padding: 0.5rem 3.5rem
        /* top: 10px; */
}

.logo-side {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.name {
    font-size: 1.3rem;
    font-weight: bold;
}

.menu-side {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.list {

    flex: 10;

}

.list>ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin-right: 4rem;

}

.list>ul>li>a:hover {
    cursor: pointer;
    color: rgb(240, 158, 6)
}

.list>ul>li>a {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.Down-button {
    border-radius: 34px;
    border: none;
    color: black;
    background-color: rgb(240, 158, 6);
    font-size: 16px;
    padding: 11px 26px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: "OpenSans";
    font-weight: bold;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}



.Download {
    color: black;
    /* background-color: rgb(240, 158, 6); */
    text-decoration: none;
}

.Download:hover {
    /* background-color: white;
    color: rgb(240, 158, 6); */
    font-size: 20px;

}

/* .Down-button:hover {
    background-color: white;
    color: rgb(240, 158, 6);
    cursor: pointer;
    border: 1px solid rgb(240, 158, 6);
} */

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* border-radius: 50%; */
}

/* .logo-icon {
    color: white;
    width: 20px;
    height: 20px;

} */