.intro {
    display: flex;
    height: 500px;
    width: 85%;
    margin: auto;
    margin-Top: 6rem;
    position: relative;
    padding: 0.5rem 3.5rem;
    box-shadow: rgba(253, 251, 251, 0.24) 0px 3px 8px;
    border-radius: 25px;
    margin-bottom: 100px;

    /* box-shadow:  #f9f1ac 0px 30px 60px -12px inset,  #f9f1ac 0px 18px 36px -18px inset; */
   

}

.intro-left {
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: column;
}

.profile-img {
    flex: 1;
    margin-top: 80px;


}

.i-name {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.i-name>:nth-child(1) {
    color: gray;
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(2) {
    color: rgb(240, 158, 6);
    font-weight: bold;
    font-size: 4rem;
}

/* .i-name>:nth-child(2):hover {
    color: rgb(255, 166, 33);
    font-size: 5rem;
} */

.i-name>:nth-child(3) {
    color: gray;
    font-size: 2rem;
}

.my-img {
    height: 250px;
    border-radius: 50%;
}



.i-name>span>a>img {
    width: 50px;
    height: 50px;
    flex: 1;
    margin: 30px 15px;
}

/* profilr image css */


section {
    padding: 20px;
}

.profile-box {
    height: 300px;
    width: 400px;
    margin: 0 auto 30px;
    position: relative;
    margin-top: 50px;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.3s ease all;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.5);
}

/* .profile-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.5);
} */

.profile-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    border-radius: 25px;
    transition: 1s ease all;
}

.profile-box:hover img {
    transform: scale(1.25);
}

/* .profile-box .box-content {
    color: white;
    position: absolute;
    width: 100%;

    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 5px 20px 0px;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease all;
} */

.profile-box:hover .box-content {
    padding-bottom: 40px;
    padding-top: 40px;
}

.profile-box .box-content h3 {
    margin-bottom: 15px;
}


/* @media screen and (max-width:1024px){
    .i-name>:nth-child(1) {
        color: gray;
        font-weight: bold;
        font-size: 3rem;
    }
    
    .i-name>:nth-child(2) {
        color: rgb(240, 158, 6);
        font-weight: bold;
        font-size: 4rem;
    }
    
    .i-name>:nth-child(2):hover {
        color: rgb(255, 166, 33);
        font-size: 5rem;
    }
    
    .i-name>:nth-child(3) {
        color: gray;
        font-size: 2rem;
    }
    .my-img {
        height: 250px;
        border-radius: 50%;
    }
    
    
    
    .i-name>span>a>img {
        width: 50px;
        height: 50px;
        flex: 1;
        margin: 30px 15px;
    }
    .profile-box {
        height: 300px;
        width: 400px;
        margin: 0 auto 30px;
        position: relative;
        border-radius: 25px;
        overflow: hidden;
        transition: 0.3s ease all;
        box-shadow: 0 5px 40px rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width:600px){
    .i-name>:nth-child(1) {
        color: gray;
        font-weight: bold;
        font-size: 3rem;
    }
    
    .i-name>:nth-child(2) {
        color: rgb(240, 158, 6);
        font-weight: bold;
        font-size: 4rem;
    }
    
    .i-name>:nth-child(2):hover {
        color: rgb(255, 166, 33);
        font-size: 5rem;
    }
    
    .i-name>:nth-child(3) {
        color: gray;
        font-size: 2rem;
    }
    .my-img {
        height: 200px;
        border-radius: 50%;
    }
    
    
    
    .i-name>span>a>img {
        width: 30px;
        height: 30px;
        flex: 1;
        margin: 30px 15px;
    }
    .profile-box {
        height: 200px;
        width: 300px;
        margin: 0 auto 30px;
        position: relative;
        border-radius: 25px;
        overflow: hidden;
        transition: 0.3s ease all;
        box-shadow: 0 5px 40px rgba(0, 0, 0, 0.5);
    }
} */