/* .about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1.5rem;

} */

    


.about-me {
    padding: 0.5rem 3.5rem;
   
    width: 85%;
   box-shadow: rgba(253, 251, 251, 0.24) 0px 3px 8px;
   border-radius: 25px;
   height: 500px;
   margin: auto;
    /* box-shadow:  #f9f1ac 0px 30px 60px -12px inset,  #f9f1ac 0px 18px 36px -18px inset; */

}

.about-allcard {
    width: 75%;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1.5rem;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.about-card {
    background-color: #f9f1ac;
    /* border: 1px solid rgb(255, 166, 33); */
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */


}

.meee {
    width: 78%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    color: gray;
    font-weight: bold;
    font-size: 20px;
    font-family: "OpenSans";


}

.about-title {
    color: rgb(240, 158, 6);
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

.about-text {
    color: rgb(240, 158, 6);
    font-weight: bolder;
    font-size: 22px;
    margin-top: 10px;

}

.about-logo {
    width: 30px;
    height: 30px;


}

.about-p {
    color: gray;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 10px;
}