.cont-title{
    color: rgb(240, 158, 6);
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

.con-flex{
    display: flex;
}
.input{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width:50%;
    height:auto;
    margin: auto;
    /* border: 1px solid; */
    justify-content: center;
   align-items: center;
   margin-top: 20px;
}
.contact{
    width:80%;
    height:500px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.con-flex{
    width:90%;
    height:auto;
    /* border: 1px solid; */
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cont-box{
    width:40%;
    height:auto;
    margin: auto;
   display: grid;
   justify-content: center;
   align-items: center;
}
.nameinput{
    padding: 18px 200px 18px 15px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid  rgb(240, 158, 6);
    /* margin-bottom: 20px; */

}
.msg-input{
    padding: 15px 200px 120px 15px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid  rgb(240, 158, 6);
}
.msg-input:hover{
    border: 1px solid gray
}
.nameinput:hover{
    border: 1px solid gray
}
.cont-email{
    width:250px;
    height:150px;
    /* border: 1px solid; */
    border-radius: 15px;
    margin-top: 20px;
    background-color: #f9f1ac;
    color: rgb(240, 158, 6);
}

.contact-icon{
    margin-top: 15px;
}
.text{
    margin-top: 12px;
}
.cont-link{
    margin-top: 20px;
    text-decoration: none;
    color: gray;
}
.contact-icon{
    width:30px;
    height:30px
}
.cont-btn{
    padding: 15px 100px 15px 100px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid  rgb(240, 158, 6);
    color: white;
    background-color: rgb(240, 158, 6);
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
}
.cont-btn:hover{
    color: rgb(240, 158, 6);
    background-color: white;
}